@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --primary-rgb: 88, 46, 203;
  --secondary-rgb: 201, 86, 230;
  --background-start-rgb: 88, 46, 203;
  --background-end-rgb: 61, 29, 148;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}
